name: Update Mets Data

on:
  schedule:
    # Runs every 5 minute
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  update-firestore:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install Dependencies
      run: npm install

    - name: Run Update Script
      env:
        FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
      run: node scripts/update-stats.js
